body{
    background-color: black;
}

.container-principal{
    width: 100%;
    max-width: 1280px;
    height: 720px;
    margin:  0 auto;
    
    
}

header div figure { 
    max-width: 1200px;
    display: flex;
    margin-bottom: 75px;
}
header div figure img{
    height: 70px;
    width: 230px;
    margin: 42px auto;
} 

.titulo{
    display: flex;
}

h1{
    color: #fff;
    margin: 0 auto 61px;
    font-family: Arial, Helvetica, sans-serif;
}

section nav ul{
    display: flex;
    justify-content: center;
    width: 700px;
    margin: 0 auto;
}

section nav ul li{
    width: 160px;
    height: 210px;
    margin-right: 26px;
}

section nav ul li figure{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
}

section nav ul li figure img{
    border-radius: 8px;
}

.adicionarPerfil{
    background-color:#181818;
    padding: 53px 52px 43px;
    color: grey;
    
}

section nav ul li p{
    color: #9c9c9c;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    display: block;
    margin: 70px auto;
    width: 205px;
    height: 50px;
    background-color: black;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
section nav ul li figure img:hover{
    border: 2px solid white;
}

button:hover{
    background-color: #fff;
    color: black;
}

.adicionarP{
    width: 107px;
    margin-left: -10px;
    margin: 13px;
}
